body {
    background-color: rgb(7, 197, 245)
    
    
}

h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

p{
    color: black;
    
}

h3{
    color: black;
}
a{
    color: rgb(203, 8, 252);
}

img{
    border-style: solid;
    position: relative; 
    
}